<% provide(:title, '注册') %>
<h1 class="center">注册</h1>

<div  class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>

    <%= f.input :email, label: "电子邮件" %>
    <%= f.input :password, label: "密码" %>
    <%= f.input :password_confirmation, label: "密码确认", required: true %>

    <div class="form-actions center">
      <%= f.submit "创建用户", :class => 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
